//
// Select2
//

// General styles

.select2-search--dropdown {
  padding: 0.5rem 0.75rem;
}

.select2-results__option {
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  color: #212529;
  font-size: 0.875rem;
}

.select2-dropdown {
  padding: 0.5rem 0;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.4375rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
